<nav class="navbar navbar-expand-lg navbar-light colour">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/" >
            <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26 0L51.9808 15V45L26 60L0.0192375 45V15L26 0Z" fill="black"/>
                <text x="50%" y="55%" text-anchor="middle" dy=".3em" font-size="20" font-family="Arial" font-weight="bold" fill="white">H</text>
            </svg> 
            <div class="ms-2">
                <h5 class="fw-bold mb-0 text-black">HEXASHOP</h5>
                <span class="small text-muted">Online Shop</span>
            </div>
        </a>
        
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/man">Men's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/women">Women's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  >Kid's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  >About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  >Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>