<p>contact works!</p>
<h2 class="text-success">Angular</h2>
<h1 class="text-primary">mohamed </h1>
<div class="container">
    
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <img src="OIP.jpg" alt=""></div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Molestiae corrupti non ratione harum, voluptates modi facilis. Impedit asperiores a officia expedita sequi praesentium reiciendis, ipsam dolor accusamus dolores vitae blanditiis?</p>
                    </div>
                </div>
                <div class="card">

                    <img src="OIP.jpg" alt=""></div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Molestiae corrupti non ratione harum, voluptates modi facilis. Impedit asperiores a officia expedita sequi praesentium reiciendis, ipsam dolor accusamus dolores vitae blanditiis?</p>
                    </div>
                </div>
        </div>
  
    
