<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row justify-content-between">
            
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 0L51.9808 15V45L26 60L0.0192375 45V15L26 0Z" fill="white"/>
                        <text x="50%" y="55%" text-anchor="middle" dy=".3em" font-size="20" font-family="Arial" font-weight="bold" fill="black">H</text>
                    </svg>
                    <h5 class="fw-bold ms-2 mb-0 text-nowrap">HEXASHOP</h5>
                </div>
                <p class="small">ONLINE SHOPPING</p>
                <p><strong>Address:</strong> Lahore Road, Sheikhupura</p>
                <p><strong>E-mail:</strong> {{ item }}</p>
                <p><strong>Phone:</strong> 0092 356 3656210</p>
            </div>

         
            <div class="col-md-3">
                <h6 class="fw-bold">Shopping and Categories</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-white text-decoration-none" routerLink="/man">Men’s Shopping</a></li>
                    <li><a  class="text-white text-decoration-none"  routerLink="/women">Women’s Shopping</a></li>
                    <li><a  class="text-white text-decoration-none">Kid’s Shopping</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold">Useful Links</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-white text-decoration-none" routerLink="/">Homepage</a></li>
                    <li><a  class="text-white text-decoration-none">About Us</a></li>
                    <li><a  class="text-white text-decoration-none">Help</a></li>
                    <li><a  class="text-white text-decoration-none">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold">Help & Information</h6>
                <ul class="list-unstyled">
                    <li><a  class="text-white text-decoration-none">FAQ’S</a></li>
                    <li><a  class="text-white text-decoration-none">Shipping</a></li>
                    <li><a  class="text-white text-decoration-none">Tracking ID</a></li>
                </ul>
            </div>
        </div>

        
        <div class="text-center mt-3">
            <p class="mb-0 small">Copyright &copy; 2022</p>
        </div>
    </div>
</footer>
